RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.khizooo.com [NC]
RewriteRule ^(.*)$ https://www.khizooo.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.khizooo.com [NC]
RewriteRule ^(.*)$ https://www.khizooo.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^http://www.khizooo.com [NC]
RewriteRule ^(.*)$ https://www.khizooo.com/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^http://www.khizooo.com [NC]
RewriteRule ^(.*)$ https://www.khizooo.com/$1 [L,R=301]
