RewriteEngine On

# Redirect all non-HTTPS and www traffic to HTTPS version of the site
RewriteCond %{HTTP_HOST} ^www\.khizooo\.com [OR]
RewriteCond %{HTTP_HOST} ^khizooo\.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://khizooo.com/$1 [L,R=301]