@page "/creative-works/toolbox"

@using khizooo.AppData;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>
    <meta name="keywords" content="web tools, resources, web development, productivity tools, khizooo">
    <meta name="description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/toolbox">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/toolbox">
    <meta name="robots" content="index, follow">
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- TOOLBOX -->
        <div class="arlo_tm_section relative" id="Toolbox">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Toolbox</h3>
                    <span>Discover the essential web tools and resources, which will surely help your web experience.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container mt-5">
                        <div class="row">


                            @{
                                foreach (khizooo.AppData.ToolBox toolbox in MyAllToolsBox)
                                {
                                    <div class="col-md-2 mb-3">
                                        <div class="creative-work-card-container">
                                            <a href="@((MarkupString)toolbox.URL)" class="creative-work-card" target="_blank">
                                                <div class="creative-work-card-body">
                                                    <h5 class="creative-work-card-title">@((MarkupString)toolbox.Title)</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /TOOLBOX -->

    </div>
</div>
<!-- /MAIN CONTENT END -->



@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<khizooo.AppData.ToolBox> MyAllToolsBox = new MyToolBoxes().GetMyToolBoxes(1000);




}