@page "/creative-works/writing"

@using khizooo.AppData;

<PageTitle>Khizooo - Writing</PageTitle>
<HeadContent>
    <meta name="keywords" content="writings, articles, essays, creative writing, khizooo">
    <meta name="description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/writing">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Read KhizoOo's writings where creativity meets insight, covering various topics with a unique perspective.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/writing">
    <meta name="robots" content="index, follow">
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- WRITING -->
        <div class="arlo_tm_section relative" id="Writing">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Writing</h3>
                    <span>Read my writings where creativity meets insight, covering many topics with unique perspective.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">

                        <div class="wrapper-comingsoon">
                            <h1>coming soon<span class="dot">.</span></h1>
                            <p>I’m planning to create engaging content to enhance your digital experience.</p>
                            <div class="icons">
                                <!-- SOCIAL -->
                                <a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a>

                                <!-- PROFESSIONAL -->
                                <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- /WRITING -->

    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    KhizoOo Me = new KhizoOo();




}