@page "/webtools"

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;
@using khizooo.Pages.PartialViews

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>
    <meta name="keywords" content="web tools, resources, web development, productivity tools, khizooo">
    <meta name="description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/creative-works/toolbox">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover the essential web tools and resources curated by KhizoOo to enhance your web experience.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com/creative-works/toolbox">

    
</HeadContent>

<style>
    /* .item-list-content .title a {
        font-size: 18px;
        font-weight: bold;
        color: #666;
        transition: all .50s;
    }

    .item-list-content .title:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ff4c7c), color-stop(50%, #09f), color-stop(80%, #99cb33) );
    } */

    .grid-container {
        columns: 6 200px;
        column-gap: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }

        .grid-container .Art-Piece {
            width: 150px;
            margin: 0 1.5rem 1.5rem 0;
            display: inline-block;
            width: 100%;
            border: solid 4px black;
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: all 0.25s ease-in-out;
        }

            .grid-container .Art-Piece:hover img {
                filter: grayscale(0);
            }

            .grid-container .Art-Piece:hover {
                border-color: #ffd100;
                box-shadow: 0px 0px 15px #ffd100;
            }

            .grid-container .Art-Piece img {
                width: 100%;
                filter: grayscale(100%);
                border-radius: 5px;
                transition: all 0.25s ease-in-out;
            }

    .modal-img {
        width: 100%;
        border-radius: 0;
    }

    .webtool-asset:hover .iq-card {
        background: #fab3a2;
    }

</style>

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height p-2" style="background:#fab3a2">
                    <div class="iq-card-body pb-5 pt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-7 align-self-center text-left">
                                <h1 class="mb-2">WEBTOOLS</h1>
                                <p class="mb-2">Discover  -  Optimize  -  Elevate</p>
                            </div>
                            <div class="col-4 align-self-center text-right"><SocialMedia /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <p class="h6 text-center mt-5 mb-5">
                    Smart online tools to simplify, build, and optimize your digital tasks
                </p>
                <div class="row">
                    @{
                        foreach (khizooo.AppData.ToolBox toolbox in MyAllToolsBox)
                        {
                            <div class="col-lg-3 col-md-4 mb-4">
                                <a class="webtool-asset" href="/converters/@((MarkupString)toolbox.Slug)">
                                    <div class="iq-card dash-hover-gradient iq-card-block iq-card-stretch p-3">
                                        <div class="iq-card-body pb-0 pt-0">
                                            <h5 class="mb-1">@((MarkupString)toolbox.Title)</h5>
                                            <p class="mb-0" style="color: #363636;">@((MarkupString)toolbox.Title)</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

    </div>
</div>
</div>
<!-- Page Content  -->

@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<AppData.ToolBox> MyAllToolsBox = new MyToolBoxes().GetMyToolBoxes(1000);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // await JSRuntime.InvokeVoidAsync("LoadScripts", "artworks/js/artworks.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }


}