@page  "/converters"

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;
@using khizooo.Pages.PartialViews

<PageTitle>Khizooo - Freebies</PageTitle>
<HeadContent>


</HeadContent>

<style>
    .grid-container {
        columns: 6 200px;
        column-gap: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }

        .grid-container .Art-Piece {
            width: 150px;
            margin: 0 1.5rem 1.5rem 0;
            display: inline-block;
            width: 100%;
            border: solid 4px black;
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            transition: all 0.25s ease-in-out;
        }

            .grid-container .Art-Piece:hover img {
                filter: grayscale(0);
            }

            .grid-container .Art-Piece:hover {
                border-color: #ffd100;
                box-shadow: 0px 0px 15px #ffd100;
            }

            .grid-container .Art-Piece img {
                width: 100%;
                filter: grayscale(100%);
                border-radius: 5px;
                transition: all 0.25s ease-in-out;
            }

    .modal-img {
        width: 100%;
        border-radius: 0;
    }


    .converter-asset:hover .iq-card {
        background: #aba4d0;
    }
</style>

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row mb-5">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height p-2" style="background:#aba4d0">
                    <div class="iq-card-body pb-5 pt-5">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-7 align-self-center text-left">
                                <h1 class="mb-2">CONVERTERS</h1>
                                <p class="mb-2">Measure – Convert – Simplify</p>
                            </div>
                            <div class="col-4 align-self-center text-right"><SocialMedia /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <p class="h6 text-center mt-5 mb-5">
                Instantly switch between different units like length, weight, time, temperature, and more with quick & accurate conversions.
            </p>
            <div class="row">
                @{
                    foreach (khizooo.AppData.Converter converter in MyAllConverters)
                    {
                        <div class="col-lg-3 col-md-4 mb-4">
                            <a class="converter-asset" href="/converters/@((MarkupString)converter.Slug)">
                                <div class="iq-card dash-hover-gradient iq-card-block iq-card-stretch p-3">
                                    <div class="iq-card-body pb-0 pt-0">
                                        <h5 class="mb-1">@((MarkupString)converter.Title)</h5>
                                        <p class="mb-0" style="color: #363636;">@((MarkupString)converter.Description)</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
         </div>
    </div>
</div>

@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<AppData.Converter> MyAllConverters = new MyConverters().GetMyConverters(1000);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //await JSRuntime.InvokeVoidAsync("LoadScripts", "artworks/js/artworks.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }

}