<footer class="bg-white iq-footer mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-right">
                <small style="margin-right: 15px;">
                    Copyright 2025 | <a href="khizooo.com">khizooo</a> | All Rights Reserved
                </small>
            </div>
        </div>
    </div>
</footer>

@code {
 
}