@using khizooo.AppData;

<!-- LEFT SIDEBAR START -->
<div class="arlo_tm_leftpart_wrap">
    <div class="leftpart_inner">
        <div class="logo_wrap">
            <a href="#"><img src="logo/khizooo-logo-100.png" alt="desktop-logo" /></a>
        </div>
        <div class="menu_list_wrap">
            <ul class="anchor_nav">
                <li><a href="#myself">Myself</a></li>
                <li><a href="#services">Artfulness</a></li>
                <li><a href="#services">Infographics</a></li>
                <li><a href="#services">Toolsbox</a></li>
                <li><a href="#services">Writings</a></li>
                <li><a href="#services">Let's Connect</a></li>
            </ul>
        </div>
        <div class="leftpart_bottom">
            <div class="social_wrap">
                <ul>
                    <!-- SOCIAL -->
                    <li><a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a></li>

                    <!-- PROFESSIONAL -->
                    <li><a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
                </ul>
            </div>
        </div>
        <a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
    </div>
</div>
<!-- LEFT SIDEBAR END -->


@code {

    KhizoOo Me = new KhizoOo();




}

