@inject NavigationManager Navigation
@using khizooo.AppData;
<!-- LEFT SIDEBAR START -->
<div class="iq-sidebar-logo d-flex justify-content-center align-items-center">
    <a href="/">
        <img src="logo/khizooo-logo-200.png" class="img-fluid" alt="khizooo Logo">
    </a>
</div>
<div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu" style="text-align: left;">
        <ul id="iq-sidebar-toggle" class="iq-menu" style="">

            <li><a href="/portfolio" class="iq-waves-effect"><span>PORTFOLIO</span></a></li>
            <li><a href="/artwork" class="iq-waves-effect"><span>ARTWORK</span></a></li>
            <li><a href="/infographic" class="iq-waves-effect"><span>INFOGRAPHIC</span></a></li>
            <li><a href="/toolbox" class="iq-waves-effect"><span>TOOLBOX</span></a></li>
            <li><a href="/writing" class="iq-waves-effect"><span>WRITING</span></a></li>
            <li>
                <a href="/" class="iq-waves-effect text-muted">
                    <span>GAMES</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="/" class="iq-waves-effect text-muted">
                    <span>TIMELINE</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="/" class="iq-waves-effect text-muted">
                    <span>CODEVAULT</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="/" class="iq-waves-effect text-muted">
                    <span>FREEBIE</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="/" class="iq-waves-effect text-muted">
                    <span>SYNOPSIS</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>

        </ul>
    </nav>
</div>
<!-- LEFT SIDEBAR END -->

@code {

    KhizoOo Me = new KhizoOo();


}

