@inherits LayoutComponentBase

    <!-- MAIN WRAPPER START -->
    <div class="arlo_tm_wrapper_all">

        <MobileMenu />

        <!-- CONTENT -->
        <div class="arlo_tm_content">

            <LeftSidebar />

            @Body

            <a class="arlo_tm_totop" href="#"></a>

        </div>

    </div>
    <!-- MAIN WRAPPER END -->