@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

    <!-- MAIN WRAPPER START -->
    <div class="arlo_tm_wrapper_all">

        <MobileMenu />

        <!-- CONTENT -->
        <div class="arlo_tm_content">

            <LeftSidebar />

            @Body

            <a class="arlo_tm_totop" href="#"></a>

        </div>


    </div>
    <!-- MAIN WRAPPER END -->


    @code {
        protected override void OnInitialized()
        {
            NavigationManager.LocationChanged += OnLocationChanged;
        }

        private void OnLocationChanged(object sender, LocationChangedEventArgs e)
        {
            StateHasChanged();
        }

        public void Dispose()
        {
            NavigationManager.LocationChanged -= OnLocationChanged;
        }

        protected override async Task OnInitializedAsync()
        {
            try
            {
                <!-- GOOGLE TOOLS -->
                await JSRuntime.InvokeVoidAsync("LoadGoogleScripts");
                <!-- GOOGLE TOOLS -->
            }
            catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
        }

    }




    
    