<!-- MOBILE MENU START -->
<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <a href="/" target="_self"><img src="logo/khizooo-logo-50.png" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous"/></a>
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
        <div class="mob_menu">
            <ul class="anchor_nav">

                <li><a target="_self" href="/creative-works/artwork" title="My Artworks"><span class="lp-artwork">ARTWOK</span></a></li>
                <li><a target="_self" href="/creative-works/infographic" title="My Infographics"><span class="lp-infographic">INFOGRAPHIC</span></a></li>
                <li><a target="_self" href="/creative-works/toolbox" title="My Toolbox"><span class="lp-toolbox">TOOLBOX</span></a></li>
                <li><a target="_self" href="/creative-works/writing" title="My Writings"><span class="lp-writing">WRITING</span></a></li>
                <li><a target="_self" href="/creative-works/timeline" title="My Timelines"><span class="lp-timeline">TIMELINE</span></a></li>
                <li><a target="_self" href="/creative-works/codevault" title="My Code Vault"><span class="lp-codevault">CODEVAULT</span></a></li>
                <li><a target="_self" href="/creative-works/freebie" title="My Freebies"><span class="lp-freebie">FREEBIE</span></a></li>
                <li><a target="_self" href="/creative-works/synopsis" title="My Synopsis"><span class="lp-synopsis">SYNOPSIS</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MOBILE MENU END -->

@code {
 
}

