<!-- MOBILE MENU START -->
<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <a href="/"><img src="logo/khizooo-logo-50.png" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous"/></a>
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
        <div class="mob_menu">
            <ul class="anchor_nav">
                <li><a href="/creative-works/artwork" title="My Artworks" target="_blank">Artwork</a></li>
                <li><a href="/creative-works/infographic" title="My Infographics" target="_blank">Infographic</a></li>
                <li><a href="/creative-works/toolbox" title="My Toolbox" target="_blank">Toolbox</a></li>
                <li><a href="/creative-works/writing" title="My Writings" target="_blank">Writing</a></li>
                <li><a href="/creative-works/timeline" title="My Timelines" target="_blank">Timeline</a></li>
                <li><a href="/creative-works/codevault" title="My Code Vault" target="_blank">Code Vault</a></li>
                <li><a href="/creative-works/freebie" title="My Freebies" target="_blank">Freebie</a></li>
                <li><a href="/creative-works/synopsis" title="My Synopsis" target="_blank">Synopsis</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MOBILE MENU END -->

@code {
 
}

