<!-- MOBILE MENU START -->
<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <a href="/"><img src="logo/khizooo-logo-50.png" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous"/></a>
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
        <div class="mob_menu">
            <ul class="anchor_nav">
                <li><a href="/CreativeWorks/Artwork" title="Artwork" >Artwork</a></li>
                <li><a href="/CreativeWorks/Infographic" title="Infographic" >Infographic</a></li>
                <li><a href="/CreativeWorks/Toolbox" title="Toolbox" >Toolbox</a></li>
                <li><a href="/CreativeWorks/Writing" title="Writing" >Writing</a></li>
                <li><a href="/CreativeWorks/Timeline" title="Timeline" >Timeline</a></li>
                <li><a href="/CreativeWorks/CodeVault" title="Code Vault" >Code Vault</a></li>
                <li><a href="/CreativeWorks/Freebie" title="Freebie" >Freebie</a></li>
                <li><a href="/CreativeWorks/Synopsis" title="Synopsis" >Synopsis</a></li>
                <li><a href="/#contact">Let's Connect</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MOBILE MENU END -->

@code {
 
}

