<!-- MOBILE MENU START -->
<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <a href="/"><img src="logo/khizooo-logo-50.png" alt="Khizooo Picture" /></a>
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
        <div class="mob_menu">
            <ul class="anchor_nav">
                <li><a href="#about">Myself</a></li>
                <li><a href="#home">Artfulness</a></li>
                <li><a href="#services">Infographics</a></li>
                <li><a href="#portfolio">Toolsbox</a></li>
                <li><a href="#news">Writings</a></li>
                <li><a href="#contact">Let's Connect</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MOBILE MENU END -->

@code {
 
}

