<!-- MOBILE MENU START -->
<div class="arlo_tm_mobile_header_wrap">
    <div class="main_wrap">
        <div class="logo">
            <a href="/"><img src="logo/khizooo-logo-50.png" alt="Khizooo Website Logo" title="Khizooo Website Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous"/></a>
        </div>
        <div class="arlo_tm_trigger">
            <div class="hamburger hamburger--collapse-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="arlo_tm_mobile_menu_wrap">
        <div class="mob_menu">
            <ul class="anchor_nav">
                <li><a href="/creative-works/artwork" title="My Artworks">Artwork</a></li>
                <li><a href="/creative-works/infographic" title="My Infographics">Infographic</a></li>
                <li><a href="/creative-works/toolbox" title="My Toolbox">Toolbox</a></li>
                <li><a href="/creative-works/writing" title="My Writings">Writing</a></li>
                <li><a href="/creative-works/timeline" title="My Timelines">Timeline</a></li>
                <li><a href="/creative-works/codevault" title="My Code Vault">Code Vault</a></li>
                <li><a href="/creative-works/freebie" title="My Freebies">Freebie</a></li>
                <li><a href="/creative-works/synopsis" title="My Synopsis">Synopsis</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- MOBILE MENU END -->

@code {
 
}

