@{
    ViewData["Title"] = "khizooo Portfolio";
   
}



<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row justify-content-center">

            <!-- Intro -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-body">
                        <img src="images/my-pics/top-sidebar-me.png" class="rounded-circle ml-3 avatar-200 mb-3" alt="Khizar Imtiaz Profile Pic" style="border: 5px solid #fbdd44;">
                        <h1 class="card-title mb-2" style="color: #f73642;">Khizar Imtiaz</h1>
                        <p class="card-text text-center subheading pb-4">
                            <strong style="color: #577bc1;">Tech</strong> Lover &nbsp;&nbsp; | &nbsp;&nbsp; Drawing <strong style="color: #577bc1;">Artist</strong> &nbsp;&nbsp; | &nbsp;&nbsp; <strong style="color: #577bc1;">Content</strong> Creator
                        </p>

                        <a href="https://www.linkedin.com/in/khizar-imtiaz" class="btn btn-dark btn-lg">LinkedIn</a>
                        <a href="https://www.facebook.com/khizoooartist" class="btn btn-dark btn-lg">Facebook</a>
                        <a href="https://www.instagram.com/khizooo_art" class="btn btn-dark btn-lg">Instagram</a>
                        <a href="https://wa.me/923007683396?text=KhizoOo%20%3C3" class="btn btn-dark btn-lg">Whatsapp</a>
                        <br /><br />
                        <a href="https://www.snapchat.com/add/khizooo_1163?share_id=ZIvI4JY3joU&locale=en-PK" class="btn btn-dark btn-lg">Snapchat</a>
                        <a href="https://join.skype.com/invite/b0k5jlb9HRmk" class="btn btn-dark btn-lg">Skype</a>
                        <a href="https://twitter.com/khizaroo" class="btn btn-dark btn-lg">X</a>
                        <a href="https://www.pinterest.com/KhizoOo_" class="btn btn-dark btn-lg">Pinterest</a>
                        <a href="https://www.tiktok.com/@@khizooo_butt" class="btn btn-dark btn-lg">TikTok</a>

                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <!-- Summary -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Summary</h2>
                        </div>
                    </div>
                    <div class="iq-card-body">

                        <p class="mb-2">
                            By luck, I am a Tech Lover – By nature, I am an Artist.
                        </p>
                        <p class="mb-2">
                            I am a one-man army, a visionary full-stack engineer, and a delivery manager with a passion for creating impactful digital solutions. From building scalable enterprise applications to revolutionizing blockchain gaming and NFTs, I have worked across diverse industries, blending artistic creativity with technical excellence.
                        </p>
                        <p class="mb-2">
                            With expertise in C#, .NET Core, Blazor, ASP.NET MVC, Angular, React, Blockchain, and Cloud Computing, I specialize in delivering high-performance applications that transform businesses. I thrive in fast-paced environments, managing teams, streamlining workflows, and ensuring on-time, high-quality project delivery.
                        </p>
                        <p class="mb-2">
                            I believe in visual learning – making complex technical concepts easy to understand through intuitive UI/UX design. My mission is to create software that is not only technically sound but also engaging and visually powerful.
                        </p>
                        <p class="mb-0">
                            I have led teams, built startups, automated business processes, and developed cutting-edge applications – always pushing boundaries and embracing new technologies.
                        </p>

                        <h5 class="card-title mt-4 mb-2" style="color: #577bc1;">Core Strengths</h5>

                        <p class="mb-2">
                            <strong>A One-Man Army – </strong> Capable of handling complete application development from architecture to deployment.
                        </p>
                        <p class="mb-2">
                            <strong>Visual Learning Advocate – </strong> I believe in simplifying complex technology through visuals and interactive learning.
                        </p>
                        <p class="mb-2">
                            <strong>Problem Solver – </strong> Adept at overcoming technical, operational, and strategic challenges.
                        </p>
                        <p class="mb-2">
                            <strong>Innovative Thinker – </strong> Constantly exploring emerging technologies to stay ahead in the tech industry.
                        </p>
                        <p class="mb-0">
                            <strong>Strategic Leader – </strong> Managing cross-functional teams, delivering high-impact software solutions, and aligning technical strategies with business goals.
                        </p>


                        <h5 class="card-title mt-4 mb-2" style="color: #577bc1;">Career Objectives</h5>

                        <p class="mb-2">
                            A results-driven Full Stack Developer, Team Lead, Project Manager, and Delivery Manager with a passion for technology, innovation, and leadership. I specialize in software architecture, blockchain development, cloud computing, AI/ML, and DevOps.
                        </p>
                        <p class="mb-2">
                            My objective is to leverage my expertise in cutting-edge technologies, project management, and team leadership to drive digital transformation, streamline software development processes, and build scalable, high-performance applications.
                        </p>
                        <p class="mb-0">
                            With a one-man army mindset, I can take a project from concept to deployment independently while also excelling at leading and mentoring teams. My motto is to empower businesses through technology and visual learning, ensuring every solution I develop is both innovative and user-friendly.
                        </p>

                    </div>
                </div>
            </div>

            <!-- Myself -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Myself</h2>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="card-title mt-4 mb-2" style="color: #577bc1;">Basic</h4>
                            </div>
                            <div class="col-4"><strong>Full Name</strong></div><div class="col-8 text-right">Khizar Imtiaz Akhtar Butt</div>
                            <div class="col-4"><strong>Nick Name</strong></div><div class="col-8 text-right">Khizooo</div>
                            <div class="col-4"><strong>DOB</strong></div><div class="col-8 text-right">September 12, 1991</div>
                            <div class="col-4"><strong>Nationality</strong></div><div class="col-8 text-right">Pakistani</div>

                            <div class="col-4"><strong>Email</strong></div><div class="col-8 text-right">khizar.imtiaz@gmail.com</div>
                            <div class="col-4"><strong>Phone No</strong></div><div class="col-8 text-right">+92 300 76 83 396</div>
                            <div class="col-4"><strong>Website</strong></div><div class="col-8 text-right">https://khizooo.com</div>

                            <div class="col-4"><strong>Location</strong></div><div class="col-8 text-right">Lahore, Pakistan</div>
                            <div class="col-4"><strong>Languages</strong></div><div class="col-8 text-right">English, Urdu, Punjabi</div>
                            <div class="col-4"><strong>Work Right</strong></div><div class="col-8 text-right">Eligible to work Globally</div>

                            <div class="col-4"><strong>Height</strong></div><div class="col-8 text-right">5.7ft</div>
                            <div class="col-4"><strong>Weight</strong></div><div class="col-8 text-right">92kg</div>
                            <div class="col-4"><strong>Religious Belief</strong></div><div class="col-8 text-right">Islam</div>
                            <div class="col-4"><strong>Political View</strong></div><div class="col-8 text-right">Republic</div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h4 class="card-title mt-4 mb-2" style="color: #577bc1;">Hobbies & Interests</h4>
                            </div>
                            <div class="col-12">Learning New Stuff</div>
                            <div class="col-12">Self Management</div>
                            <div class="col-12">Art & Sketching</div>
                            <div class="col-12"><strong>Gaming – </strong> PUBG, FIFA, Strateggy Games</div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <h4 class="card-title mt-4 mb-2" style="color: #577bc1;">Education</h4>
                            </div>
                            <div class="col-12"><p class="mb-2"><strong>BS-Information Technology – </strong> GCU, Faisalabad</p></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="row justify-content-center">

            <!-- Technical Skills -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Technical Skills</h2>
                        </div>
                    </div>
                    <div class="iq-card-body" style="text-align:left !important">

                        <div class="p-pf mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Programming & Frameworks</h5>
                            <p class="mb-2">
                                <strong>Frontend Development - </strong> HTML5, CSS3, JavaScript, Bootstrap, TypeScript, React.js, Angular, Responsive & Mobile-First Design, UI/UX Design & Wireframing
                            </p>

                            <p class="mb-2">
                                <strong>Backend Development - </strong> C#, NET Core, Blazor, React, Node.js
                            </p>

                            <p class="mb-2">
                                <strong>Web API - </strong> RESTful APIs, SOAP APIs, GraphQL APIs, gRPC APIs, WebSockets, RPC API)
                            </p>

                            <p class="mb-2">
                                <strong>Authentication - </strong> Basic, Token-Based, Auth 2.0, OpenID Connect, Multi-Factor Authentication, SAML
                            </p>

                            <p class="mb-0">
                                <strong>Authorization - </strong> Role-Based Access Control, Attribute-Based Access Control, Permissions-Based Access Control, Discretionary Access Control,  Mandatory Access Control
                            </p>
                        </div>

                        <div class="p-bw mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Blockchain & Web3 Development</h5>
                            <p class="mb-2">
                                <strong>Smart Contract Development - </strong> Solidity, Rust
                            </p>

                            <p class="mb-2">
                                <strong>Blockchain Frameworks & Tools - </strong> Web3.js, Ethers.js, Infura, Alchemy, DApps
                            </p>

                            <p class="mb-2">
                                <strong>Consensus Mechanisms - </strong> PoW, PoS, DPoS, PoA, PoB, PoC, Hybrid (PoW + PoS)
                            </p>

                            <p class="mb-0">
                                <strong>NFT Marketplaces - </strong> Buying/Selling NFTs, OnChain/OffChain Concept
                            </p>
                        </div>

                        <div class="p-d mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Databases & Optimization</h5>
                            <p class="mb-2">
                                <strong>SQL Database - </strong> MySQL, PostgreSQL, Microsoft SQL Server, Oracle DB
                            </p>

                            <p class="mb-2">
                                <strong>NoSQL Database - </strong> MongoDB, Cassandra, DynamoDB, Redis, CouchDB
                            </p>

                            <p class="mb-2">
                                <strong>Hybrid Database - </strong> FaunaDB, CosmosDB
                            </p>

                            <p class="mb-2">
                                <strong>NewSQL Database - </strong> Google Spanner, CockroachDB
                            </p>

                            <p class="mb-2">
                                <strong>In-Memory Database - </strong> RedisDB
                            </p>

                            <p class="mb-2">
                                <strong> Distributed Database - </strong> CockroachDB, Google Spanner
                            </p>

                            <p class="mb-2">
                                <strong>Graph Database - </strong> Neo4j, TigerGraph
                            </p>

                            <p class="mb-2">
                                <strong>Time-Series Database - </strong>  InfluxDB, TimescaleDB,
                            </p>

                            <p class="mb-2">
                                <strong>Multi-Tenant Database - </strong> PostgreSQL, AWS RDS
                            </p>

                            <p class="mb-2">
                                <strong>Hybrid Database - </strong> FaunaDB, CosmosDB
                            </p>

                            <p class="mb-0">
                                <strong>Optimizations - </strong> Indexing, Query, Normalization/Denormalization, Partitioning/Sharding, Connection Pooling/Caching, Concurrency Control/Locking, R/W, Storage/Compression, Backup/Recovery, Monitoring/Performance
                            </p>
                        </div>

                        <div class="p-cd mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Cloud & DevOps</h5>
                            <p class="mb-2">
                                <strong>Cloud Platforms - </strong> Microsoft Azure, AWS, Google Cloud Platform (GCP), DigitalOcean
                            </p>

                            <p class="mb-2">
                                <strong>Serverless Computing - </strong> AWS Lambda, Azure Functions, Firebase Cloud Functions
                            </p>

                            <p class="mb-2">
                                <strong>CI/CD Pipelines - </strong> GitHub Actions, Jenkins, GitLab CI/CD, Azure DevOps
                            </p>

                            <p class="mb-2">
                                <strong>Containerization & Orchestration - </strong> Docker, Kubernetes
                            </p>

                            <p class="mb-0">
                                <strong>Monitoring & Logging - </strong> Grafana, Kibana
                            </p>
                        </div>

                        <div class="p-sc mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Security & Compliance</h5>
                            <p class="mb-0">
                                <strong>Web Security Standards - </strong> OWASP Top 10, Secure Coding Practices
                            </p>
                        </div>

                        <div class="p-ai mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Artificial Intelligence</h5>
                            <p class="mb-2">
                                <strong>AI Frameworks - </strong> OpenAI API
                            </p>
                            <p class="mb-0">
                                <strong>AI-powered Development - </strong> GitHub Copilot
                            </p>
                        </div>

                        <div class="p-af mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Architecture Frameworks</h5>
                            <p class="mb-0">
                                <strong>Frameworks - </strong> Clean, Open Group Architecture, Microservices, MVC/MVVM, Event-Driven, Layered, Serverless
                            </p>
                        </div>

                        <div class="p-vcpm mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Version Control & Project Management</h5>
                            <p class="mb-2">
                                <strong>Version Control Systems - </strong> Git, GitHub, GitLab, Bitbucket, TFS
                            </p>
                            <p class="mb-0">
                                <strong>Agile Methodologies - </strong> Scrum, Kanban, Jira, Trello, ClickUp
                            </p>
                            <p class="mb-0">
                                <strong>Collaboration Tools - </strong> Skype, Discord, Discord, Telegram, Slack, Microsoft Teams
                            </p>

                        </div>

                        <div class="p-cv mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Containerization & Virtualization</h5>
                            <p class="mb-2">
                                <strong>Containerization - </strong> Docker, Podman
                            </p>
                            <p class="mb-2">
                                <strong>Orchestration - </strong> Kubernetes, Rancher
                            </p>
                            <p class="mb-0">
                                <strong>Virtualization Platforms - </strong> VirtualBox
                            </p>
                        </div>

                        <div class="p-ats mb-0">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Additional Tech Skills</h5>
                            <p class="mb-2">
                                <strong>Message Brokers - </strong> Apache Kafka, Redis Pub/Sub
                            </p>
                            <p class="mb-2">
                                <strong>Search Engines & Indexing - </strong> Elasticsearch
                            </p>
                            <p class="mb-2">
                                <strong>BI & Analytics - </strong> Power BI
                            </p>
                            <p class="mb-0">
                                <strong>Game Development - </strong> Unity 3D
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Work Experience -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Work Experience</h2>
                        </div>
                    </div>
                    <div class="iq-card-body" style="text-align:left !important">

                        <div class="mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Technical Delivery Manager | VAIVAL | JUN 2022 – Present</h5>
                            <p class="mb-2">Managing and delivering blockchain-based gaming and NFT marketplace solutions.</p>
                            <p class="mb-2">Leading a team of developers, designers, and blockchain experts to create high-performance applications.</p>
                            <p class="mb-2">Ensuring smooth integration of Web3 technologies, smart contracts, and decentralized applications (DApps).</p>
                            <p class="mb-2">Conducting code reviews, debugging, and performance optimizations.</p>
                            <p class="mb-0">Handling client communication, requirement gathering, and technical decision-making.</p>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Technical Team Lead | VAIVAL | JAN 2020 – JUN 2022</h5>
                            <p class="mb-2">Overseeing multiple software development projects from planning to deployment.</p>
                            <p class="mb-2">Architecting and developing enterprise-level applications with a focus on blockchain solutions.</p>
                            <p class="mb-2">Leading a team of developers, providing mentorship and technical guidance.</p>
                            <p class="mb-2">Implementing RESTful APIs, WebSockets, and Microservices for high-performance applications.</p>
                            <p class="mb-2">Managing CI/CD pipelines, DevOps automation, and cloud infrastructure.</p>
                            <p class="mb-2">Handling client interactions, requirement gathering.</p>
                            <p class="mb-0">Ensuring the on-time delivery of projects while maintaining high standards of quality.</p>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Web Developer | VAIVAL | MAR 2017 – JAN 2020</h5>
                            <p class="mb-2">Developed enterprise web applications using C#, .NET Core, and Angular.</p>
                            <p class="mb-2">Worked on backend APIs, database optimization, and debugging complex issues.</p>
                            <p class="mb-2">Designed scalable architectures for large applications.</p>
                            <p class="mb-0">Enhanced security and performance in existing applications.</p>
                        </div>
                        <div class="mb-4">
                            <h5 class="card-title mb-2" style="color: #577bc1;">Startup Experience | Evento.pk | 2015 - 2016</h5>
                            <p class="mb-2">Co-founded a startup focused on automating the management of marriage halls & Marketplace for different other opportunities.</p>
                            <p class="mb-2">Developed a centralized booking and management system to streamline operations.</p>
                            <p class="mb-2">Implemented real-time availability tracking and customer reservation features.</p>
                            <p class="mb-0">Gained hands-on experience in startup management, scaling, and business development.</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="row justify-content-center">


            <!-- Projects & Contributions -->
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Projects & Contributions</h2>
                        </div>
                    </div>
                    <div class="iq-card-body" style="text-align:left !important">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="p-bces mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Blockchain & Crypto Exchange Solutions</h5>
                                    <p class="mb-2"><strong>BlackCard </strong> (2020 – 2021)</p>
                                    <p class="mb-2"><strong>Moonix </strong> (2019 – 2021)</p>
                                    <p class="mb-2"><strong>BitFast </strong> (2020 – 2021)</p>
                                    <p class="mb-2"><strong>GoStake </strong> (2019 – 2020)</p>
                                    <p class="mb-0"><strong>VulcanX </strong> (Continue)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Blockchain & NFT Platforms</h5>
                                    <p class="mb-2"><strong>Vulcan Forged </strong> (2019 – Present)</p>
                                    <p class="mb-2"><strong>Private Jet Pyjama Party </strong> (2019 – 2021)</p>
                                    <p class="mb-2"><strong>Veriarti </strong> (2020)</p>
                                    <p class="mb-2"><strong>Elysium Marketplace | Agora </strong> (2022 - Present)</p>
                                    <p class="mb-0"><strong>Boost Lottery </strong> (2025 - Present)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">E-commerce & Shopify</h5>
                                    <p class="mb-2"><strong>Amazon & Shopify Scraper </strong> (2017 – 2018)</p>
                                    <p class="mb-2"><strong>FBMessenger Shopify APP </strong> (2019)</p>
                                    <p class="mb-2"><strong>Page Berry </strong> (2018)</p>
                                    <p class="mb-0"><strong>BlackBird Shopify APP & Browser Extension </strong> (2017 - 2018)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Fintech & Payment Solutions</h5>
                                    <p class="mb-0"><strong>MPGE | Mobile Payment Gateway Eugene </strong> (2021)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Business & Data Analytics</h5>
                                    <p class="mb-2"><strong>Restaurant Analytics Hub </strong> (2019 – 2021)</p>
                                    <p class="mb-0"><strong>Landing Page Launchpad </strong> (2017)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Healthcare & Queue</h5>
                                    <p class="mb-2"><strong>MyHealthCare Center </strong> (2017)</p>
                                    <p class="mb-0"><strong>Landing Page Launchpad </strong> (2017)</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="mb-4">
                                    <h5 class="card-title mb-2" style="color: #577bc1;">Enterprise Solutions</h5>
                                    <p class="mb-2"><strong>FOS – Maple Leaf </strong> (2016 – 2017)</p>
                                    <p class="mb-2"><strong>Landing Page Launchpad </strong> (2017)</p>
                                    <p class="mb-0"><strong>Vulcan Forged Gaming </strong> (2019 - Present)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Soft Skills -->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-4 pt-4">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h2 class="card-title">Soft Skills</h2>
                        </div>
                    </div>
                    <div class="iq-card-body" style="text-align:left !important">

                        <p class="mb-2">
                            Leadership & Team Management
                        </p>
                        <p class="mb-2">
                            Strategic Thinking & Business Acumen
                        </p>
                        <p class="mb-2">
                            Client Communication & Stakeholder Engagement
                        </p>
                        <p class="mb-2">
                            Problem Solving & Critical Thinking
                        </p>
                        <p class="mb-2">
                            Conflict Resolution & Decision Making
                        </p>
                        <p class="mb-2">
                            Visual Storytelling & Creativity
                        </p>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


@*Intor
Summary
Technical Skills
Soft Skills
Projects & Contributions
Work Experience
Career Objectives
Informations About Me
Hobbies & Interests
Education*@