@page "/creative-works/toolbox/3/gradient-color-generator"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>

    <meta name="keywords" content="toolbox, creative art, color contrast checker, web accessibility, design tools, development tools, contrast widget, khizooo">
    <meta name="description" content="Use the Color Contrast Checker by Khizooo to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try our widget!">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Use the Color Contrast Checker by Khizooo to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try my widget!">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Artwork">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Use the Color Contrast Checker by Khizooo to ensure your website's colors meet accessibility standards. Perfect for designers and developers. Try my widget!">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Lato|Montserrat|Oswald|Source+Sans+Pro|Raleway|Poppins|Ubuntu|Merriweather|Noto+Sans|Nunito|Quicksand|Playfair+Display|Mukta|Libre+Baskerville|Rubik|Bebas+Neue|PT+Sans|Muli|Righteous|Arimo|Dosis|Indie+Flower|Pacifico|Cabin|Titillium+Web|Abel|Anton|Baloo+2|Bree+Serif|Cairo|Comfortaa|Caveat|Dancing+Script|Fira+Sans|Great+Vibes|IBM+Plex+Sans|Inconsolata|Josefin+Sans|Kalam|Kanit|Karma|Lobster|Maven+Pro|Merriweather|Noto+Serif|Oxygen|PT+Serif&display=swap">

    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <div class="arlo_tm_portfolio_single_wrap">
            <div class="container">
                <div class="title_holder" style="text-align:center">
                    <h3 class="lp-toolbox">Gradient Color Generator</h3>
                    <p style="margin-bottom: 15px;">Seamlessly Blend Colors, Craft Your Perfect Gradient!</p>
                    <p style="margin-bottom: 25px;"><strong>Generator | Toolbox</strong></p>
                </div>

                <hr class="soften" />

                <div class="details_wrap">

                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("LoadScripts", "toolbox/js/gradient-color-picker-plugin.js");
            await JSRuntime.InvokeVoidAsync("LoadScripts", "toolbox/js/gradient-color-picker.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }
}
