@page "/toolbox/password-generator"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using khizooo.AppData.SharedHelper;
@using khizooo.AppData;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>

    <meta name="keywords" content="password generator, secure password generator, random password tool, password security, password generator tool, Khizooo, web security, strong passwords, generate passwords online">
    <meta name="description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">

    <meta property="og:title" content="Khizooo - Password Generator Tool | Secure Your Online Presence">
    <meta property="og:description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Artwork">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Khizooo - Password Generator Tool | Secure Your Online Presence">
    <meta name="twitter:description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <link rel="stylesheet" type="text/css" href="toolbox/css/password-generator.css" />
</HeadContent>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- ARTWORK DETAIL -->
        <div class="arlo_tm_portfolio_single_wrap">
            <div class="container">
                <div class="title_holder" style="text-align:center">
                    <h3 class="lp-toolbox">Password Generator</h3>
                    <p style="margin-bottom: 15px;">Create strong, secure passwords effortlessly by generating random combinations of uppercase letters, lowercase letters, numbers, and symbols.</p>
                    <p style="margin-bottom: 20px;"><strong>Generator | Toolbox</strong></p>
                </div>

                <hr class="soften" />

                <div class="details_wrap">
                    <div class="container">

                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 align-self-center">
                                <div class="container-pg">
                                    <div class="result" style="margin-top: 30px; ">
                                        <div class="result__title field-title">Generated Password</div>
                                        <div class="result__info right">click to copy</div>
                                        <div class="result__info left">copied</div>
                                        <div class="result__viewbox" id="result">CLICK GENERATE</div>
                                        <input type="hidden" id="result_input" value="CLICK GENERATE" />
                                        <button id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></button>
                                    </div>
                                    <div class="length range__slider" data-min="4" data-max="64">
                                        <div class="length__title field-title" data-length='0'>length:</div>
                                        <input id="slider" type="range" min="4" max="64" value="16" style="background: linear-gradient(90deg, rgb(244 199 38) 100%, rgba(255, 255, 255, 0.216) 100.1%) " />
                                    </div>

                                    <div class="settings">
                                        <span class="settings__title field-title">settings</span>
                                        <div class="setting">
                                            <input type="checkbox" id="uppercase" checked />
                                            <label for="uppercase">Include Uppercase</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="lowercase" checked />
                                            <label for="lowercase">Include Lowercase</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="number" checked />
                                            <label for="number">Include Numbers</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="symbol" />
                                            <label for="symbol">Include Symbols</label>
                                        </div>
                                    </div>

                                    <button class="btn generate" id="generate">Generate Password</button>
                                </div>

                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 align-self-center">
                                <div id="box">
                                    <div class="pass-wrapper">
                                        <svg id="svg" viewBox="0 0 105.83333 105.83334">
                                        </svg>
                                        <div class="levels-container">
                                            <div data-carac="length" data-level="0" class="level-line">
                                                <div class="line-label">Length</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="uppercases" data-level="0" class="level-line">
                                                <div class="line-label">Capitals</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="specials" data-level="0" class="level-line">
                                                <div class="line-label">Specials</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="numbers" data-level="0" class="level-line">
                                                <div class="line-label">Numbers</div>
                                                <div class="line-progression"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row justify-content-center">
                            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-4">
                                <h2 class="" style="margin-bottom: 10px;">Frequently Asked Questions</h2>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">What is a password generator?</h5>
                                <p>
                                    A password generator is a tool that creates strong, random passwords for you. These passwords are usually difficult to guess and are used to enhance security.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Why should I use a password generator?</h5>
                                <p>
                                    Using a password generator helps you create strong and unique passwords, making it harder for hackers to access your accounts.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Are password generators safe to use?</h5>
                                <p>
                                    Yes, reputable password generators are safe to use. They don't store your passwords, ensuring your information remains secure.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Can I use a password generator on my smartphone?</h5>
                                <p>
                                    Yes, many password generators are available as mobile apps, making it convenient to generate and save passwords on your smartphone.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">How does a password generator work?</h5>
                                <p>
                                    A password generator uses algorithms to create random combinations of letters, numbers, and symbols, ensuring the password is strong and unpredictable.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Do password generators store my passwords?</h5>
                                <p>
                                    Most password generators do not store your passwords. They simply create them for you to save in a secure location, like a password manager.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">What makes a password strong?</h5>
                                <p>
                                    A strong password typically includes a mix of uppercase and lowercase letters, numbers, and special characters. It should also be at least 12 characters long.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Can I customize the passwords generated?</h5>
                                <p>
                                    Yes, many password generators allow you to customize the length and the types of characters included in your password.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">Is it okay to use the same password for multiple accounts?</h5>
                                <p>
                                    No, it is not recommended to use the same password for multiple accounts. Using unique passwords for each account reduces the risk of multiple accounts being compromised.
                                </p>

                                <h5 class="" style="margin-bottom: 5px;margin-top: 20px;">What should I do if I forget a generated password?</h5>
                                <p>
                                    If you forget a generated password, use a password manager to retrieve it. Password managers store all your passwords securely, so you don’t have to remember them all.
                                </p>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <!-- /ARTWORK DETAIL -->
    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("LoadScripts", "js/snap.js");
            await JSRuntime.InvokeVoidAsync("LoadScripts", "toolbox/js/password-generator.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }
}
