@page "/creative-works/toolbox/2/password-generator"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using khizooo.AppData;
@using khizooo.Pages.PartialViews;

<PageTitle>Khizooo - Toolbox</PageTitle>
<HeadContent>

    <meta name="keywords" content="password generator, secure password generator, random password tool, password security, password generator tool, Khizooo, web security, strong passwords, generate passwords online">
    <meta name="description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">

    <meta property="og:title" content="Khizooo - Password Generator Tool | Secure Your Online Presence">
    <meta property="og:description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Artwork">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Khizooo - Password Generator Tool | Secure Your Online Presence">
    <meta name="twitter:description" content="Generate secure and random passwords with Khizooo's Password Generator Tool. Ensure your online security with strong passwords. Perfect for personal and professional use.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">

    <link rel="stylesheet" type="text/css" href="toolbox/password-generator.css" />
    <meta name="google-site-verification" content="tPPq9BHgWFlHRRBE_jnKnbh0LlRxe50ArDoWoX8RfNM" />
</HeadContent>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- ARTWORK DETAIL -->
        <div class="arlo_tm_portfolio_single_wrap">
            <div class="container">
                <div class="title_holder" style="text-align:center">
                    <h3>Password Generator</h3>
                    <p style="margin-bottom: 30px;">Create strong, secure passwords effortlessly by generating random combinations of uppercase letters, lowercase letters, numbers, and symbols.</p>
                </div>
                <div class="details_wrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 p-4 align-self-center">
                                <div class="container-pg">
                                    <div class="result" style="margin-top: 30px; ">
                                        <div class="result__title field-title">Generated Password</div>
                                        <div class="result__info right">click to copy</div>
                                        <div class="result__info left">copied</div>
                                        <div class="result__viewbox" id="result">CLICK GENERATE</div>
                                        <input type="hidden" id="result_input" value="CLICK GENERATE" />
                                        <button id="copy-btn" style="--x: 0; --y: 0"><i class="far fa-copy"></i></button>
                                    </div>
                                    <div class="length range__slider" data-min="4" data-max="200">
                                        <div class="length__title field-title" data-length='0'>length:</div>
                                        <input id="slider" type="range" min="4" max="200" value="16" />
                                    </div>

                                    <div class="settings">
                                        <span class="settings__title field-title">settings</span>
                                        <div class="setting">
                                            <input type="checkbox" id="uppercase" checked />
                                            <label for="uppercase">Include Uppercase</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="lowercase" checked />
                                            <label for="lowercase">Include Lowercase</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="number" checked />
                                            <label for="number">Include Numbers</label>
                                        </div>
                                        <div class="setting">
                                            <input type="checkbox" id="symbol" />
                                            <label for="symbol">Include Symbols</label>
                                        </div>
                                    </div>

                                    <button class="btn generate" id="generate">Generate Password</button>
                                </div>

                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 p-4 align-self-center">
                                <div id="box">
                                    <div class="pass-wrapper">
                                        <svg id="svg" viewBox="0 0 105.83333 105.83334">
                                        </svg>
                                        <div class="levels-container">
                                            <div data-carac="length" data-level="0" class="level-line">
                                                <div class="line-label">Length</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="uppercases" data-level="0" class="level-line">
                                                <div class="line-label">Capitals</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="specials" data-level="0" class="level-line">
                                                <div class="line-label">Specials</div>
                                                <div class="line-progression"></div>
                                            </div>
                                            <div data-carac="numbers" data-level="0" class="level-line">
                                                <div class="line-label">Numbers</div>
                                                <div class="line-progression"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <!-- /ARTWORK DETAIL -->
    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    [Parameter]
    public int Id { get; set; } = 0;
    [Parameter]
    public string Slug { get; set; } = "";

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();


    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JSRuntime.InvokeVoidAsync("LoadScripts", "js/snap.js");
            await JSRuntime.InvokeVoidAsync("LoadScripts", "toolbox/password-generator.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }
}
