/* Monster Theme Colors */
@-webkit-keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes stripe-slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.btn-header {
  overflow: visible;
    margin: 0;
    background: transparent;
    font: inherit;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 30px;
    background-color: #fff;
    color: var(--ls-top-bcg);
    border: 2px solid var(--ls-top-bcg);
    border-radius: 10px;
    transition: all 0.5s ease;
    font-weight: 800;
    font-size: 14px;
    width: 165px;
}
.btn-header:-moz-focus-inner {
  padding: 0;
  border: 0;
}
.btn--stripe {
  overflow: hidden;
  position: relative;
}
.btn--stripe:after {
  content: "";
  display: block;
  height: 7px;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top: 1px solid var(--ls-top-bcg);
  position: absolute;
  left: 0;
  bottom: 0;
  background-size: 7px 7px;
}
.btn--stripe:hover {
  background-color: #666;
  color: #fff;
}
.btn--stripe:hover:after {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top: 1px solid #000;
  -webkit-animation: stripe-slide 12s infinite linear forwards;
          animation: stripe-slide 12s infinite linear forwards;
}
.btn--large {
    width: 50%;
}

.btn--radius {
  border-radius: 15px;
}


.m-artooo-color {
  background-color: var(--m-artooo-color);
  border-color: #000;
  color: #000;
}
.m-artooo-color.btn--stripe:after {
  background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-artooo-color:hover {
  background-color: #eeeeee;
  color: #F5CF5C;
}

/* Mint */
.m-infooo-color {
  background-color:  var(--m-infooo-color);
  border-color: #000;
  color: #000;
}
.m-infooo-color.btn--stripe:after {
   background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-infooo-color:hover {
  background-color: #eeeeee;
  color: #5CCFAF;
}

/* Orange */
.m-toolooo-color {
  background-color:  var(--m-toolooo-color);
  border-color: #000;
  color: #000;
}
.m-toolooo-color.btn--stripe:after {
  background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-toolooo-color:hover {
  background-color: #eeeeee;
  color: #F7933C;
}

/* Blue */
.m-freeooo-color {
  background-color: var(--m-freeooo-color);
  border-color: #000;
  color: #000;
}
.m-freeooo-color.btn--stripe:after {
  background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-freeooo-color:hover {
  background-color: #eeeeee;
  color: #6CA6FF;
}

/* Purple */
.m-devooo-color {
  background-color: var(--m-devooo-color);
  border-color: #000;
  color: #000;
}
.m-devooo-color.btn--stripe:after {
  background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-devooo-color:hover {
    background-color: #eeeeee;
    color: #B699FF;
}

/* Default (Portfolio + Support) */
.m-default-color {
    background-color: #eeeeee;
    color: var(--ls-top-bcg);
}
.m-default-color.btn--stripe:after {
    background-image: repeating-linear-gradient(45deg, var(--ls-top-bcg), var(--ls-top-bcg) 1px, transparent 2px, transparent 5px);
    border-top-color: var(--ls-top-bcg);
}
.m-default-color:hover {
     background-color: #e0dcdc;
    color: var(--ls-top-bcg);

}


.pill-theme{
  color: var(--mc-body-bcg);
  background-color: var(--ls-top-bcg);
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  margin: 5px;
}

.pill-theme strong{
  font-weight: 800;
}