@{
    ViewData["Title"] = "khizooo Landing Page";
}


<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-5 pt-5">
                    <div class="iq-card-body pb-5 pt-5">

                        <div class="row">

                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 align-self-center text-center">

                                <div class="">
                                    <h1 class="mb-2" style="color: #577bc1;">BLENDING ART &amp; TECH</h1>
                                    <h5 class="mb-2">Learn  -  Create  -  Inspire</h5>
                                </div>
                                <div class="mt-4">
                                    <button type="button" class="btn btn-outline-dark btn-lg">
                                        <i class="ri-user-5-fill" style="color: #577bc1;"></i>My Portfolio
                                    </button>
                                    <button type="button" class="btn btn-outline-dark btn-lg">
                                        <i class="ri-heart-fill" style="color: #FD6C9E"></i>Hire Me
                                    </button>
                                </div>
                                <div class="mb-4">
                                    <img src="~/images/svgs/my_personal-info.svg" class="img-fluid" />
                                </div>

                                <div class="">
                                    <div class="ag-courses_box">

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-brush-fill mt-0 mr-2" style="color: #ffffff; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px; "></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">ARTWORK</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Vibrant & Imaginative Creativity</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-shapes-fill mt-0 mr-2" style="color: #ffffff; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px;"></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">INFOGRAPHIC</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Visually Presentation of Information</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-hammer-fill mt-0 mr-2" style="color: #ffffff; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px;"></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">TOOLBOX</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Essential Web Tools</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-booklet-fill mt-0 mr-2" style="color: #ffffff; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px;"></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">WRITING</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Topics with Unique Perspective</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-progress-4-line mt-0 mr-2" style="color: #1f1c19; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px; "></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">TIMELINE</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Showcasing Key Events</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-progress-4-line mt-0 mr-2" style="color: #1f1c19; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px; "></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">CODEVAULT</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Useful Code Snippets</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-progress-4-line mt-0 mr-2" style="color: #1f1c19; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px; "></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">FREEBIE</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Free Tools & Resources</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                        <div class="ag-courses_item text-left p-2">
                                            <a href="#" class="ag-courses-item_link">
                                                <i class="ri-progress-4-line mt-0 mr-2" style="color: #1f1c19; right: 0; top: 0; position: absolute; z-index: 5; font-size: 24px; "></i>
                                                <div class="ag-courses-item_bg"></div>
                                                <div class="ag-courses-item_title m-2 p-2">SYNOPSIS</div>
                                                <p class="ag-courses-item_description ml-2 pl-2">Short Summary of Books</p>
                                                <div class="ag-courses-item_date-box m-2 p-2">Start: <span class="ag-courses-item_date">04.11.2022</span></div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 align-self-top" style=" border-left: 1px solid #e6e6e6;">
                                <div class="">
                                    <div class="">
                                        <p class="mb-3">Hey, I’m </p>
                                        <h3 class="mb-3" style="color: #f74142;">Khizar Imtiaz</h3>

                                        <p class="mb-3">
                                            By luck, I am a programmer; by nature, I am an artist
                                        </p>
                                        <p class="mb-3">
                                            A programmer who loves everything about emerging technologies &amp; an artist who loves to express emotions through artwork.
                                        </p>
                                        <p class="mb-3">
                                            Welcome,
                                            <br />
                                            You can explore the perfect blend of art and technology at <strong>khizooo.com</strong>
                                        </p>
                                        <p class="mb-3">
                                            A <strong>Tech-Savvy Artist</strong> who blends technology and creativity. Explore my world of art, infographics, code snippets, and tools designed to inspire and educate. Whether you’re a developer, designer, or just curious, there’s something here for you!
                                        </p>
                                    </div>

                                    <div class="">
                                        <table class="table table-borderless mb-3">
                                            <tbody>
                                                <tr><td>Full Name</td><th>Khizar Imtiaz Akhtar Butt</th></tr>
                                                <tr><td>Nickname</td><th>khizoOo</th></tr>
                                                <tr><td>DOB</td><th>September 12, 1991</th></tr>
                                                <tr><td>Nationality</td><th>Pakistani</th></tr>
                                                <tr><td>My Base</td><th>Lahore, Pakistan</th></tr>
                                                <tr><td>Religious Belief</td><th>Humanity</th></tr>
                                                <tr><td>Political View</td><th>Democratic</th></tr>
                                                <tr><td>Email</td><th>khizar.imtiaz@gmail.com</th></tr>
                                                <tr><td>Phone/WhatsApp</td><th>+92 300 76 83 396</th></tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="text-center">
                                        <a href="" class="btn btn-dark btn-lg">Facebook</a>
                                        <a href="" class="btn btn-dark btn-lg">Twitter</a>
                                        <a href="" class="btn btn-dark btn-lg">Instagram</a>
                                        <a href="" class="btn btn-dark btn-lg">LinkedIn</a>
                                        <a href="" class="btn btn-dark btn-lg">TikTok</a>
                                    </div>

                                </div>
                            </div>

                        </div>

                        

                    </div>
                </div>

            </div>

        </div>

        @*<div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-5 pt-5">
                    <div class="iq-card-body pb-5 pt-5">

                        <div class="row">

                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 align-self-center">
                                <img src="images/svgs/my_art-profile.svg" class="card-img-top p-4" alt="#">
                                <h4 class="card-title">ARTWOK</h4>
                                <p class="card-text">Explore my vibrant and imaginative artworks, which is reflecting my passion for creativity.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 align-self-center">
                                <img src="images/svgs/my_infographic-profile.svg" class="card-img-top p-4" alt="#">
                                <h4 class="card-title">INFOGRAPHIC</h4>
                                <p class="card-text">Discover my visually engaging infographics, which is designed to simplify complex information.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 align-self-center">
                                <img src="images/svgs/my_toolbox-profile.svg" class="card-img-top p-4" alt="#">
                                <h4 class="card-title">TOOLBOX</h4>
                                <p class="card-text">Discover the essential web tools and resources, which will surely help your web experience.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 align-self-center">
                                <img src="images/svgs/my_writing-profile.svg" class="card-img-top p-4" alt="#">
                                <h4 class="card-title">WRITING</h4>
                                <p class="card-text">Read my writings where creativity meets insight, covering many topics with unique perspective.</p>
                                <a href="#" class="btn btn-primary">Button</a>
                            </div>

                        </div>

                        

                    </div>
                </div>

            </div>

        </div>*@

        
            

    </div>
</div>











