@{
    ViewData["Title"] = "khizooo Landing Page";
}


<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height pb-5 pt-5">
                    <div class="iq-card-body pb-5 pt-5">
                        <h1 class="mb-2">BLENDING ART &amp; TECH</h1>
                        <h5 class="mb-4">Learn  -  Create  -  Inspire</h5>
                        <button type="button" class="btn btn-outline-dark btn-lg">
                            <i class="ri-user-5-fill" style="color: #577bc1;"></i>My Portfolio
                        </button>
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="ri-brush-fill" style="color: #B17457;"></i>Explore Artworks
                        </button>
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="ri-shapes-fill" style="color: #cddc39;"></i>Explore Infographics
                        </button>
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="ri-hammer-fill" style="color: #4caf50;"></i>Explore ToolBox
                        </button>
                        <button type="button" class="btn btn-dark btn-lg">
                            <i class="ri-booklet-fill" style="color: #9C27B0;"></i>Explore Blogs
                        </button>
                        <button type="button" class="btn btn-outline-dark btn-lg">
                            <i class="ri-heart-fill" style="color: #FD6C9E"></i>Hire Me
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="iq-card">
                    <div class="iq-card-body pt-4 pb-4">

                        <p class="mb-1">Hey, I’m </p>
                        <h3 class="mb-0" style="">Khizar Imtiaz</h3>

                        <p class="mb-2">
                            By luck, I am a programmer; by nature, I am an artist
                        </p>
                        <p class="mb-2">
                            A programmer who loves everything about emerging technologies &amp; an artist who loves to express emotions through artwork.
                        </p>
                        <p class="mb-2">
                            Welcome, You can explore the perfect blend of art and technology at <strong>www.khizooo.com</strong>.
                        </p>
                        <p class="mb-2">
                            A <strong>Tech-Savvy Artist</strong> who blends technology and creativity. Explore my world of art, infographics, code snippets, and tools designed to inspire and educate. Whether you’re a developer, designer, or just curious, there’s something here for you!
                        </p>

                        <table class="table table-borderless mb-0">
                            <tbody>
                                <tr><td>My Nickname</td><th>khizoOo</th></tr>
                                <tr><td>My Base</td><th>Lahore, Pakistan</th></tr>
                                <tr><td>Email</td><th>khizar.imtiaz@gmail.com</th></tr>
                                <tr><td>Phone/WhatsApp</td><th>+92 300 76 83 396</th></tr>
                            </tbody>
                        </table>

                        <a href="" class="btn btn-dark btn-lg">Facebook</a>
                        <a href="" class="btn btn-dark btn-lg">Twitter</a>
                        <a href="" class="btn btn-dark btn-lg">Instagram</a>
                        <a href="" class="btn btn-dark btn-lg">LinkedIn</a>
                        <a href="" class="btn btn-dark btn-lg">TikTok</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="iq-card" style="background: none; box-shadow: none;">
                    <div class="iq-card-body">
                        <div class="row align-items-center">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                                <div class="iq-card iq-card-block" style="border-left: 5px solid #B17457;">
                                    <div class="iq-card-header d-flex justify-content-between border-0">
                                        <div class="mb-0 font-size-32 text-dark"><i class="ri-brush-fill font-weight-light" style="color: #B17457"></i></div>
                                        <div class="iq-card-header-toolbar d-flex align-items-center">
                                            <h4 class="float-right">0</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <h3>ARTWOK</h3>
                                        <p class="mb-0">Explore my vibrant and imaginative artworks, which is reflecting my passion for creativity.</p>
                                        <small class="mt-3 d-inline-block w-100">Saturday, 7 December 2019</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                                <div class="iq-card iq-card-block" style="border-left: 5px solid #CDDC39;">
                                    <div class="iq-card-header d-flex justify-content-between border-0">
                                        <div class="mb-0 font-size-32 text-dark"><i class="ri-shapes-fill font-weight-light" style="color: #CDDC39;"></i></div>
                                        <div class="iq-card-header-toolbar d-flex align-items-center">
                                            <h4 class="float-right">0</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <h3>INFOGRAPHIC</h3>
                                        <p class="mb-0">Discover my visually engaging infographics, which is designed to simplify complex information.</p>
                                        <small class="mt-3 d-inline-block w-100">Saturday, 7 December 2019</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                                <div class="iq-card iq-card-block mb-0" style="border-left: 5px solid #4CAF50; ">
                                    <div class="iq-card-header d-flex justify-content-between border-0">
                                        <div class="mb-0 font-size-32 text-dark"><i class="ri-hammer-fill font-weight-light" style="color: #4CAF50 "></i></div>
                                        <div class="iq-card-header-toolbar d-flex align-items-center">
                                            <h4 class="float-right">0</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <h3>TOOLBOX</h3>
                                        <p class="mb-0">Discover the essential web tools and resources, which will surely help your web experience.</p>
                                        <small class="mt-3 d-inline-block w-100">Saturday, 7 December 2019</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-1">
                                <div class="iq-card iq-card-block mb-0" style="border-left: 5px solid #9C27B0; ">
                                    <div class="iq-card-header d-flex justify-content-between border-0">
                                        <div class="mb-0 font-size-32 text-dark"><i class="ri-booklet-fill font-weight-light" style="color: #9C27B0 "></i></div>
                                        <div class="iq-card-header-toolbar d-flex align-items-center">
                                            <h4 class="float-right">0</h4>
                                        </div>
                                    </div>
                                    <div class="iq-card-body">
                                        <h3>WRITING</h3>
                                        <p class="mb-0">Read my writings where creativity meets insight, covering many topics with unique perspective.</p>
                                        <small class="mt-3 d-inline-block w-100">Saturday, 7 December 2019</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>











