@{
    ViewData["Title"] = "Artwork";
}

<!-- Page Content  -->
<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="card pb-5">
                    <div class="card-body pt-5">

                        <div class="row">

                            <div class="col-lg-5 col-md-5 col-sm-12 order-1 order-sm-1">


                                <div class="mb-4 text-center">
                                    <img id="MyArtImage" src="https://khizooo.com/infographics/blockchain/how-blockchain-works.jpg" data-art-title="Sketch 01" class="img-fluid Art-Detail-Img">
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-dark btn-lg" onclick="DownloadImage()">Download</button>
                                </div>

                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 order-2 order-sm-2" style="border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;">

                                <div class="">
                                    <h1 class="mb-2" style="color: #577bc1;">Beared Man</h1>
                                </div>

                                <div class="">
                                    <div class="">
                                        <p class="mb-3">
                                            Discover the beauty in my latest artistic creation. A remarkable drawing of a bearded man on a sticky note. Through intricate strokes and masterful shading.
                                        </p>
                                        <p class="mb-3">
                                            In this drawing, the bearded man's facial hair serves as an emblem of wisdom, strength, and rugged individuality. Every pen stroke delicately captures the coarse texture of the beard, revealing the dedication and patience required to nurture such an impressive growth.
                                        </p>
                                        <p class="mb-3">
                                            My carefully crafted lines bring life to the bearded man's expressive eyes, exuding a sense of wisdom and experience. His eyes hint at hidden stories and invite viewers to imagine the adventures and knowledge he carries within.
                                        </p>
                                        <p class="mb-3">
                                            Rendered on a humble sticky note, this art piece challenges the boundaries of creativity, reminding us that true artistry transcends the limitations of canvas or size. It is a testament to my ability to transform the ordinary into the extraordinary, turning a mundane office supply into a window to a world of imagination.
                                        </p>
                                        <p class="mb-3">
                                            Allow this remarkable bearded man to captivate your senses, beckoning you to delve deeper into the realms of human complexity. Explore the power of a single artwork to tell a thousand tales, and join us on our website as we celebrate the fusion of art and inspiration.
                                        </p>
                                        <p class="mb-3">
                                            Visit[MORE] to step into a world where creativity dances with imagination. Where colors come alive. Art whispers its secrets.
                                        </p>
                                    </div>

                                    <div class="text-start">
                                        <a href="" class="btn btn-dark btn-lg">Buy NFT</a>
                                    </div>

                                </div>
                            </div>

                        </div>



                    </div>
                </div>

            </div>

        </div>

    </div>
</div>