@inject NavigationManager Navigation
@using khizooo.AppData;

<div class="profile-intro-custom">
    <img src="mypics/top-sidebar-me.png" class="rounded-circle avatar-200 mb-3" alt="Khizar Imtiaz Profile Pic" style="border: 5px solid #fbdd44;">
    <p class="mb-0">Hey, I’m </p>
    <h1 class="" style="color: #f73642;">Khizar Imtiaz</h1>
    <p class="mb-2">
        <strong style="color: #577bc1;">Tech</strong> Lover &nbsp;&nbsp; | &nbsp;&nbsp; Drawing 
        <strong style="color: #577bc1;">Artist</strong> &nbsp;&nbsp; | &nbsp;&nbsp; 
        <strong style="color: #577bc1;">Content</strong> Creator
    </p>
    <p class="mb-2">
        By luck, I am a programmer; by nature, I am an artist
    </p>
    <p class="mb-2">
        You can explore the perfect blend of art and technology at <strong>khizooo.com</strong>
    </p>
    <hr />
    <SocialMedia />
</div>

@code {

    KhizoOo Me = new KhizoOo();


}

