@page "/CodeVault"

@using khizooo.AppData;

<PageTitle>Khizooo - Code Vault</PageTitle>
<HeadContent>
    <meta name="keywords" content="code vault, code snippets, developer resources, programming, khizooo">
    <meta name="description" content="Access a rich repository of helpful code snippets and resources, curated to assist developers in their projects.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Access a rich repository of helpful code snippets and resources, curated to assist developers in their projects.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/CodeVault">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Access a rich repository of helpful code snippets and resources, curated to assist developers in their projects.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
</HeadContent>


<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- CODE VAULT -->
        <div class="arlo_tm_section relative" id="CodeVault">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Code Vault</h3>
                    <span>Dive into rich repository of helpful code snippets and resources, helpful for developers.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">
                        
                    </div>
                </div>

            </div>
        </div>
        <!-- /CODE VAULT -->

    </div>
</div>
<!-- /MAIN CONTENT END -->


@code {

    KhizoOo Me = new KhizoOo();




}