@page "/Comingsoon"

@using khizooo.AppData;

<PageTitle>Khizooo - Code Vault</PageTitle>
<HeadContent>
    <meta name="keywords" content="coming soon, new projects, updates, khizooo">
    <meta name="description" content="Exciting updates and new projects are coming soon. Stay tuned to KhizoOo's site for the latest launches.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Exciting updates and new projects are coming soon. Stay tuned to KhizoOo's site for the latest launches.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Comingsoon">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Exciting updates and new projects are coming soon. Stay tuned to KhizoOo's site for the latest launches.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- COMINGSOON -->
        <div class="arlo_tm_section relative" id="Comingsoon">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Coming Soon</h3>
                    <span>Exciting updates and new projects are coming soon. Stay tuned to KhizoOo's site for the latest launches.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">

                    </div>
                </div>

            </div>
        </div>
        <!-- /COMINGSOON -->
 

    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    KhizoOo Me = new KhizoOo();




}