@page "/"

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@using khizooo.Pages.PartialViews;
@using khizooo.AppData;

<PageTitle>www.khizooo.com</PageTitle>
<HeadContent>
    <meta name="keywords" content="artworks, infographics, timelines, writings, toolbox, creative art, Synopsis, code vault, khizooo">
    <meta name="description" content="Explore khizooo artistic world, combining the analytical mind of a programmer with the creative soul of an artist. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">

    <meta property="og:title" content="KhizoOo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Explore KhizoOo's artistic world, where programming meets creativity. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="KhizoOo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Explore KhizoOo's artistic world, where programming meets creativity. Discover artworks, infographics, timelines, writings, essential web tools, Synopsis and code vault.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">
    <meta property="twitter:url" content="https://www.khizooo.com">
</HeadContent>


<!-- MAIN CONTENT START -->
<div id="content-page" class="content-page">
    <div id="Right-Page-Content" class="container-fluid">

        <div class="row justify-content-center">

            <!-- Intro -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
                <div class="iq-card sb-top-banner-card iq-card-block iq-card-stretch iq-card-height p-3">
                    <div class="iq-card-body">

                        <div class="row justify-content-center p-1">
                            <div class="col col-lg-5">
                                <ProfileIntro />
                            </div>
                         </div>

                        <div class="row justify-content-center">
                            <div class="col col-lg-5">
                                <hr />
                            </div>
                        </div>

                        <div class="row justify-content-center p-1">
                            <div class="col col-lg-9">
                                <ContentList />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- /MAIN CONTENT END -->


@code {

    KhizoOo Me = new KhizoOo();

    protected override async Task OnInitializedAsync()
    {
        try
        {
          // await JSRuntime.InvokeVoidAsync("LoadScripts", "theme/js/init.js");
        }
        catch (Exception ex) { Console.WriteLine($"Error loading or calling script: {ex.Message}"); }
    }

}