@page "/CreativeWorks/Infographic"
@inject NavigationManager NavigationManager
@using khizooo.AppData;

<PageTitle>Khizooo - Infographics</PageTitle>
<HeadContent>
    <meta name="keywords" content="infographics, visual design, data visualization, processes, learing, education, khizooo">
    <meta name="description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">


    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Infographic">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Discover khizooo visually engaging infographics, designed to simplify complex information and make it accessible to everyone.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- INFPGRAPHIC -->
        <div class="arlo_tm_section relative" id="Infographics">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Infographic</h3>
                    <span>Discover my visually engaging infographics, which is designed to simplify complex information.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">

                    <div class="container mt-5">
                        <div class="row">


                            @{
                                foreach (khizooo.AppData.Infographic infographic in MyAllInfographics)
                                {
                                    <div class="col-md-2 mb-3">
                                        <div class="infographic-card-container">
                                            <a href="@((MarkupString)infographic.URL)" class="infographic-card">
                                                <div class="infographic-card-body">
                                                    <h5 class="infographic-card-title">@((MarkupString)infographic.Title)</h5>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }


                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /INFPGRAPHIC -->



    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    SharedHelper SH = new SharedHelper();
    KhizoOo Me = new KhizoOo();
    List<khizooo.AppData.Infographic> MyAllInfographics = new MyInfographics().GetMyInfographics(1000);


    private void Navigate() { NavigationManager.NavigateTo("/Infographic/"); }

}