@page "/Timeline"

@using khizooo.AppData;

<PageTitle>Khizooo - Writing</PageTitle>
<HeadContent>
    <meta name="keywords" content="timelines, key events, milestones, visual timelines, khizooo">
    <meta name="description" content="Explore Khizooo detailed timelines, showcasing key events and milestones in a creative and engaging way.">

    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta property="og:description" content="Explore Khizooo detailed timelines, showcasing key events and milestones in a creative and engaging way.">
    <meta property="og:image" content="images/SEO/OG-Image.png">
    <meta property="og:url" content="https://www.khizooo.com/Timeline">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Khizooo - Drawing Artist | Tech Lover | Content Creator">
    <meta name="twitter:description" content="Explore Khizooo detailed timelines, showcasing key events and milestones in a creative and engaging way.">
    <meta name="twitter:image" content="images/SEO/Twitter-Image.png">

    <meta name="robots" content="index, follow">
</HeadContent>

<!-- MAIN CONTENT START -->
<div class="arlo_tm_rightpart">
    <div class="rightpart_inner">

        <!-- TIMELINE -->
        <div class="arlo_tm_section relative" id="Timeline">
            <div class="arlo_tm_portfolio_wrapper_all">

                <div class="arlo_tm_title_holder portfolio">
                    <h3>Timeline</h3>
                    <span>Explore detailed timelines, showcasing key events and milestones in a creative and engaging way.</span>
                </div>

                <div class="arlo_tm_second_portfolio" style="margin-top: 40px">
                    <div class="container">

                        <div class="wrapper-comingsoon">
                            <h1>coming soon<span class="dot">.</span></h1>
                            <p>I’m planning to create engaging content to enhance your digital experience.</p>
                            <div class="icons">
                                <!-- SOCIAL -->
                                <a href=""><i class="fa-brands fa-facebook fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                                <a href="#"><i class="fa-brands fa-tiktok fa-xl"></i></a>

                                <!-- PROFESSIONAL -->
                                <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- /TIMELINE -->
       
    </div>
</div>
<!-- /MAIN CONTENT END -->

@code {

    KhizoOo Me = new KhizoOo();




}