<div class="iq-sidebar-logo d-flex justify-content-center align-items-center">
    <a href="index.html">
        <img src="~/images/my-logo/khizooo-logo-200.png" class="img-fluid" alt="">
    </a>
</div>