<div id="sidebar-scrollbar">
    <nav class="iq-sidebar-menu" style="text-align: left;">
        <ul id="iq-sidebar-toggle" class="iq-menu" style="">

            <li><a href="/Portfolio" class="iq-waves-effect"><span>PORTFOLIO</span></a></li>
            <li><a href="#" class="iq-waves-effect"><span>ARTWOK</span></a></li>
            <li><a href="#" class="iq-waves-effect"><span>INFOGRAPHIC</span></a></li>
            <li><a href="#" class="iq-waves-effect"><span>TOOLBOX</span></a></li>
            <li><a href="#" class="iq-waves-effect"><span>WRITING</span></a></li>

            <li>
                <a href="#" class="iq-waves-effect text-muted">
                    <span>TIMELINE</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="#" class="iq-waves-effect text-muted">
                    <span>CODEVAULT</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="#" class="iq-waves-effect text-muted">
                    <span>FREEBIE</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>
            <li>
                <a href="#" class="iq-waves-effect text-muted">
                    <span>SYNOPSIS</span>
                    <span style="font-size: 8px;font-weight: 500;margin-left: 5px;color: #fbdd44;text-shadow: none;">{Next Up}</span>
                </a>
            </li>

        </ul>
    </nav>
</div>