@*<style>
    .follow-social-custom {
        position: fixed;
        bottom: 10px;
        z-index: 1000;
    }

        .follow-social-custom ul {
            padding: 0px;
            transform: translate(-270px, 0);
        }

            .follow-social-custom ul li {
                display: block;
                margin: 5px;
                background: rgba(0, 0, 0, 0.36);
                width: 300px;
                text-align: right;
                padding: 10px;
                border-radius: 0 30px 30px 0;
                transition: all 1s;
            }

                .follow-social-custom ul li:hover {
                    transform: translate(110px, 0);
                    background: rgba(255, 255, 255, 0.4);
                }

                    .follow-social-custom ul li:hover a {
                        color: #000;
                    }

                    .follow-social-custom ul li:hover i {
                        color: #fff;
                        background: rgba(0, 0, 0, 0.36);
                        transform: rotate(360deg);
                        transition: all 1s;
                    }

                .follow-social-custom ul li i {
                    margin-left: 10px;
                    color: #000;
                    background: #fff;
                    padding: 10px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    background: #ffffff;
                    transform: rotate(0deg);
                }
</style>

<nav class="follow-social-custom">
    <ul>
        <li><a href="">Twitter <i class="ri-facebook-fill"></i></a></li>
        <li><a href="">Github <i class="ri-twitter-x-fill"></i></a></li>
        <li><a href="">Instagram <i class="ri-instagram-fill"></i></a></li>
        <li><a href="">LinkedIn <i class="ri-linkedin-box-line"></i></a></li>
        <li><a href="">TikTok <i class="ri-tiktok-line"></i></a></li>
    </ul>
</nav>*@